*{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
  font-family:'Segoe UI', sans-serif;
}

main{
  height: 100%;
  background-color: #0C1317;
}

p{
  font-size: 14px;
}

.container{
  padding-top: 18px;
  padding-left: 100px;
  padding-right: 100px;
  height: 98vh;
  margin:auto;
  display: flex;
  justify-content: center;
}

.containerChats{
  width: 100%;
  min-width: 390px;
  max-width: 510px;
  background-color: #111B21;
  border-right: 0.1px solid rgb(87, 87, 87);
}

.containerChats_headerProfile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background-color: #202C33;
  height: 60px;
}

.headerProfile_imgProfile img{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  object-fit: cover;
}

.headerProfile_icons{
  display: flex;
  width: 275px;
  justify-content: end;
  gap: 25px;
}

.headerProfile_icons img{
  width: 24px;
  height: 20px;
  object-fit: contain;
  cursor: pointer;
}

.containerChats_search{
  width: 100%;
  min-width: 390px;
  max-width: 512px;
  display: flex;
  justify-content: space-between;
  padding: 7px 0 10px 10px;
}

.containerChats_search form{
  width: 100%;
  max-width: 460px;
}

form input{
  width: 100%;
  padding: 10px 10px 10px 60px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #202C33;
  color: #fff;
}

form img{
  position: absolute;
  width: 16px;
  height: 18px;
  top: 92px;
  left: 135px;
  cursor: pointer;
}

.filter{
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter img{
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.chat{
  width: 96%;
  /* border-bottom: .5px solid black; */
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 0 10px;
  cursor: pointer;
}

.chat:hover{
  background-color: #202C33;
}

.chat_imgProfile{
  width: 55px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
}

.chat_description{
  width: 100%;
  border-bottom: 1px solid #202C33;
  margin-top: 20px;
}

.description_nameHour{
  display: flex;
  justify-content: space-between;
}

.description_nameHour .name{
  font-weight: 400;
  color: #E9EDE9;
  font-size: 17px;
}

.description_nameHour .hour,
.description_nameHour .hourGreen{
  color: #8696A0;
  margin-right: 15px;
}

.chat_description div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description_nameHour .hourGreen{
  color: #00A884;
}

.checkAll,
.checkAllrc{
  color: #3474CA;
  font-size: 20px;
  margin-right: 4px;
}

.checkAllrc{
  color: #8696A0;
}

.description_message span{
  color:#D2D2D2;
  color: #8696A0;
  font-weight: normal;
}

.description_message,
.messageContact_messageBold{
  margin-top: 5px;
}

.messageContact_messageBold{
  font-weight: 400;
  color: #D1D7DB;
}

.description_messageContact .messageContact_numberOfMessage{
  background-color: #00A884;
  font-weight: bold;
  margin-right: 15px;
  border-radius: 100%;
  padding: 2px 7px;
}

/* parte derecha*/

.containerChats_contentChat{
  width: 100%;
  height: 100%;
  min-width: 570px;
  max-width: 1190px;
  background-color: #222E35;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 10px;
}

.contentChat{
  width: 100%;
  height: 100%;
  min-width: 570px;
  max-width: 1200px;
  background-color: #222E35;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentChat h1{
  color: #C0D0D2;
  color: rgba(233, 237, 239, 0.88);
}


.contentChat p,
.contentChat span{
  color: #8696A0;
}