*{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
}

main{
  height: 100%;
  background-color: #0C1317;
}

.container{
  padding-top: 18px;
  padding-left: 100px;
  padding-right: 100px;
  height: 98vh;
  margin:auto;
  display: flex;
  justify-content: center;
}

.containerChats{
  width: 100%;
  min-width: 390px;
  max-width: 510px;
  background-color: #111B21;
  border-right: 0.1px solid rgb(87, 87, 87);
}

.containerChats_headerProfile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background-color: #202C33;
  height: 60px;
}

.headerProfile_imgProfile img{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  object-fit: cover;
}

.headerProfile_icons{
  display: flex;
  width: 275px;
  justify-content: end;
  gap: 25px;
}

.headerProfile_icons img{
  width: 24px;
  height: 20px;
  object-fit: contain;
  cursor: pointer;
}

.containerChats_search{
  width: 100%;
  min-width: 390px;
  max-width: 512px;
  display: flex;
  justify-content: space-between;
  padding: 7px 0 10px 10px;
}

.containerChats_search form{
  width: 100%;
  max-width: 460px;
}

form input{
  width: 100%;
  padding: 10px 10px 10px 60px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #202C33;
  color: #fff;
}

form img{
  position: absolute;
  width: 16px;
  height: 18px;
  top: 92px;
  left: 135px;
  cursor: pointer;
}

.filter{
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter img{
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.chat{
  width: 96%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 0 10px;
  cursor: pointer;
}

.chat_imgProfile{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
}

.containerChats_contentChat{
  width: 100%;
  height: 100%;
  min-width: 570px;
  max-width: 1190px;
  background-color: #222E35;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 10px;
}

.contentChat{
  width: 100%;
  height: 100%;
  min-width: 570px;
  max-width: 1200px;
  background-color: #222E35;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentChat h1{
  color: #C0D0D2;
  color: rgba(233, 237, 239, 0.88);
}


.contentChat p,
.contentChat span{
  color: #8696A0;
}